.DS_Store
*.pyc
local_settings.py
.anvil/*
__pycache__
__pycache__/
.Python
/bin
/lib
/src
/include
.coverage
.env
static/media
.idea/*
.vscode
.cache/
env
env/
node_modules/
static/build/
static/local/
static/rev-manifest.json
temp/
.cpython-36.pyc
.pytest_cache/
